@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
   background-image: linear-gradient(to right, #94B2F7, #94F0F7);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(63, 55, 43, 0.765);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #545F78;
   text-align: center;
   text-shadow: 1px 1px 2px rgba(42, 48, 60, 0.726);
}

h2{
  color: #786954;
}

p{
   text-align: justify;
}